In [1]:
print("ola mundo")

ola mundo

In [66]:
inteiro = 42
print("inteiro:",inteiro)

floatT = 42.0
print("float:",floatT)

complexo = 3 + 4j
print("complexo:", complexo)

string = "ola mundo!"
print(string)

lista = [1, 2, 3]
print("lista:", lista)
#mutavel

tupla = (1, 2, 3, 4, 5)
print("tupla:", tupla)
#imutavel

conjunto = {1, 2, 3}
print("conjunto:", conjunto)
#itens unicos

dicionario = {"chave": "valor"}
print("dicionario:", dicionario)

booleano = True
print("Booleano:", booleano)

nenhum = None
print("NoneType (None):", nenhum)

inteiro: 42
float: 42.0
complexo: (3+4j)
ola mundo!
lista: [1, 2, 3]
tupla: (1, 2, 3, 4, 5)
conjunto: {1, 2, 3}
dicionario: {'chave': 'valor'}
Booleano: True
NoneType (None): None

In [67]:
#varivaeis

idade = 20
nome = "Suares"

print("Nome:", nome)
print("idade:", idade)
print(" ")
print("Nome:", nome,",","idade:", idade)

Nome: Suares
idade: 20

Nome: Suares , idade: 20

In [68]:
nome = str("Manu")
idade = int(18)
temperatura = 3.0


print(type(nome))
print(type(idade))
print(type(temperatura))

<class 'str'>
<class 'int'>
<class 'float'>

In [69]:
i = 30
I = "Su"

print(i)
print(I)

30
Su

In [70]:

var1, var2, var3, var4 = "TEXTO 1", "TEXTO 2", "TEXTO 3", "TEXTO 4"

print(var3)
print(var2)

TEXTO 3
TEXTO 2

In [71]:
var1 = var2 = var3 = var4 = "Hello World!"

print(var3)
print(var2)

Hello World!
Hello World!

In [72]:
nome = "suares"
idade = "20"
anos = "anos"

print("O meu nome eh", nome, "e tenho " + idade + "anos")

O meu nome eh suares e tenho 20anos

In [73]:
num1 = "tudo"
num2 = "Junto"

print(num1 + num2)

tudoJunto

In [74]:
#exercicio 1
idade = 25
nome = "Joao"
saldo = 100.50
soma = idade + saldo

print("Soma:", soma)

Soma: 125.5

In [75]:
nota1 = 7.5
nota2 = 8.3
nota3 = 6.9
media = (nota1 + nota2 + nota3) / 3
print("media:", format(media, ".2f"))

media: 7.57

In [76]:
nome1 = input("Digite seu nome: \n")

print("\nO seu nome eh:", nome)

Digite seu nome:
Suares

O seu nome eh: Suares

In [1]:
nome = input("Digite seu nome: \n")
nota1 = float(input("Digite a nota 1: "))
nota2 = float(input("Digite a nota 2: "))

media = (nota1 + nota2) / 2

print("Aluno:", nome, "\nMedia:", media)

Digite seu nome:
Suares
Digite a nota 1: 10
Digite a nota 2: 8
Aluno: Suares
Media: 9.0

In [128]:
n = int(input("A tabuada de qual numero deseja ver? "))

print(n, " * 1 = ", n * 1)
print(n, " * 1 = ", n * 2)
print(n, " * 1 = ", n * 3)
print(n, " * 1 = ", n * 4)
print(n, " * 1 = ", n * 5)
print(n, " * 1 = ", n * 6)
print(n, " * 1 = ", n * 7)
print(n, " * 1 = ", n * 8)
print(n, " * 1 = ", n * 9)
print(n, " * 1 = ", n * 10)

A tabuada de qual numero deseja ver? 95000
95000  * 1 =  95000
95000  * 1 =  190000
95000  * 1 =  285000
95000  * 1 =  380000
95000  * 1 =  475000
95000  * 1 =  570000
95000  * 1 =  665000
95000  * 1 =  760000
95000  * 1 =  855000
95000  * 1 =  950000

In [11]:
ano_atual = 2023
ano_nascimento = int(input("Em que ano voce nasceu? "))
                  
idade = ano_atual - ano_nascimento

print("Voce tem", idade,"anos")

Em que ano voce nasceu? 2000
Voce tem 23 anos

In [106]:
import random

print("numero aleatorio entre x e y:")
print(random.randrange(1,100))

print()

print("numero aleatorio tipo float")
print(random.random())


print()

print("numero aleatorio entre x e y, inclusive x e y:")
print(random.randint(1, 100))

print()

print("escolhe um aleatorio")
frutas = ["maca", "banana", "lichia"]
print(random.choice(frutas))

print()

print("embaralha string")
numeros = [1, 2, 3, 4, 5]
random.shuffle(numeros)
print(numeros)

print()

print("numero float entre x,x2 e y,y2")
print(random.uniform(1.0, 5.0))

numero aleatorio entre x e y:
95

numero aleatorio tipo float
0.631441391048821

numero aleatorio entre x e y, inclusive x e y:
55

escolhe um aleatorio
banana

embaralha string
[1, 4, 3, 5, 2]

numero float entre x,x2 e y,y2
1.6047740341452719

In [113]:
#imprimindo string com numero da caixa string
posicaoLetra = "Python"
print(posicaoLetra[0])
print(posicaoLetra[1])
print(posicaoLetra[2])
print(posicaoLetra[3])
print(posicaoLetra[4])
print(posicaoLetra[5])

P
y
t
h
o
n

In [1]:
#slice
frase = "hello world!"

parte = frase[0:4]
print(parte)

segundaParte = frase[7:9]
print(segundaParte)

primeira = frase[:5]
print(primeira)

segunda = frase[-6:]
print(segunda)

hell
or
hello
world!

In [ ]:
frase = "O homem é, por natureza, um animal político."

print("animal" in frase)

frase = "O homem é, por natureza, um animal político."

print("python" in frase)

frase = "O homem é, por natureza, um animal político."

if "animal" in frase:
    print("Sim, a palavra 'animal' está presente na frase.")



frase = "                       O homem é, por natureza, um animal político."

print(frase.strip())

#.strip usado pra remover espaços em branco



frase = "hi, how you doing?"
palavras = frase.split()

#.split() usado para separar as palavras da frase em retornar elas como string

print(palavras)

palavras = ['hi,', 'how', 'you', 'doing?']
frase = ' '.join(palavras)

# ' '.join(x) usado para juntar palavras numa frase e retorna elas numa unica string

print(frase)



texto = "*******Hello*********"
texto_strip = texto.strip('*')

print(texto_strip)

texto = "        World!        "
texto_strip = texto.strip()

print(texto_strip)



nome = "Suares"
idade = 20
altura = 1.76

mensagem = f"Olá, meu nome é {nome}. Tenho {idade} anos e minha altura é {altura:.2f} metros."
#As f-strings vão servir para que você consiga colocar uma variável dentro de um texto

print(mensagem)



texto = "Hello World!"

texto_upper = texto.upper()
#Converte as letras pra maiúsculo
print(texto_upper)

texto_lower = texto.lower()
#Converte as letras pra minúscula
print(texto_lower)

texto_capitalize = texto.capitalize()
#Converte a primeira letra em maiúsculo e resto minúsculo
print(texto_capitalize)

ocorrencias = texto.count("o")
#conta as ocorrencias do parametro
print(ocorrencias)

texto_substituido = texto.replace("World", "Friend")
#Substitue uma string por outra
print(texto_substituido)



#exercicio

nome = "Maria"
sobrenome = "Silva"
idade = 30

nome_completo = nome + " " + sobrenome
print(nome_completo)

mensagem = f"Meu nome é {nome_completo} e tenho {idade} anos"
#mensagem = "Meu nome é {} e tenho {} anos".format(nome_completo, idade)
print(mensagem)



#exercicio

frase = "Python é uma linguagem de programção poderosa e versátil."
print("Frase: {}".format(frase))

count = frase.count("")
print("Quantidade de caracteres na frase: {}".format(count))

palavra = frase.split()[0]
print("Primeira palavra da frase: {}".format(palavra))

frase_upper = frase.upper()
print("Frase em maiúsculo: {}".format(frase_upper))

frase_substituido = frase.replace("poderosa", "incrível")
print("Frase com a palavra substituida: {}".format(frase_substituido))




#exercicio

nome_completo = "Maria de Freitas Cardoso"
print(nome_completo)

nome_completo_upper = nome_completo.upper()
print(nome_completo_upper)

nome_completo_lower = nome_completo.lower()
print(nome_completo_lower)

nome_completo_semespaço = nome_completo.replace(" ", '')
print(nome_completo_semespaço)

primeira = nome_completo.split()[0]
print(primeira)